@{
    ViewBag.Title = "Home Page";
    var sunday = DateTime.Parse("5/9/2021");
    var startOfThisMonth = DateTime.Parse("8/1/2021");
    var startDay = startOfThisMonth.DayOfWeek;
    var startDayNumber = (int)startDay;
    float daysInMonth = DateTime.DaysInMonth(startOfThisMonth.Year, startOfThisMonth.Month);
    var lastDayOfMonth = startOfThisMonth.AddDays(daysInMonth - 1).DayOfWeek;

}
<style>
    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        padding: 5px;
        width: 40px;
        text-align: center;
        border: 1px solid black;
    }

    .calendar {
        width: 280px;
    }
</style>
<div class="calendar">
    <div class="flex">
        @for (int i = 0; i < 7; i++)
        {
            <div class="column">
                @sunday.AddDays(i).ToString("ddd")
            </div>
        }
    </div>
    <div class="flex">
        @for (int i = 0; i < startDayNumber; i++)
        {
            <div class="column"></div>
        }

        @for (int i = 1; i <= daysInMonth; i++)
        {
            <div class="column">
                @i
            </div>
        }
        @for (int i = 0; i < (6 - (int)lastDayOfMonth); i++)
        {
            <div class="column">
            </div>
        }
    </div>
</div>